<ion-content class="content" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-title size="large" class="title">Zaloguj się</ion-title>
  </ion-header>

  <form [formGroup]="form">
    <app-input inputType="email" label="Email" [parent]="form" controlName="email" [errors]="getErrors().email"></app-input>
    <app-input inputType="password" label="Hasło" [parent]="form" controlName="password"[errors]="getErrors().password"></app-input>
    <div class="links-container">
      <a [routerLink]="[{ outlets: { nonAuthenticated: ['sign-up'] } }]" class="nav-link">Nie posiadasz konta?
        Zarejestruj się</a>
      <a [routerLink]="[{ outlets: { nonAuthenticated: ['reset-password'] } }]" class="nav-link">Nie pamiętasz
        hasła?</a>
    </div>
    <ion-button (click)="signIn()">Zaloguj się</ion-button>
  </form>
</ion-content>
