<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="title">Zarejestruj się</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form">
    <app-input label="Imię" [parent]="form" controlName="firstName" [errors]="getErrors().firstName"></app-input>
    <app-input label="Nazwisko" [parent]="form" controlName="lastName" [errors]="getErrors().lastName"></app-input>
    <app-input inputType="email" label="Email" [parent]="form" controlName="email" [errors]="getErrors().email"></app-input>
    <app-input inputType="password" label="Hasło" [parent]="form" controlName="password" [errors]="getErrors().password"></app-input>
    <app-input inputType="password" label="Potwierdź hasło" [parent]="form" controlName="password2" [errors]="getErrors().password2"></app-input>
    <ion-button (click)="signUp()">Zarejestruj się</ion-button>
  </form>
</ion-content>
