<ion-app>
  <ion-toast
    position="top"
    [isOpen]="toast?.show === true"
    [message]="toast?.message"
    [duration]="5000"
    [buttons]="toastButton"
    [cssClass]="toast ? toast.toastType : ''"
    (didDismiss)="closeToast()"
  ></ion-toast>
  <ng-container *ngIf="user; else nonAuthenticated">
    <side-menu (logoutEmitter)="logout()"></side-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title class="title">{{ currentRoutingTitle }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-router-outlet></ion-router-outlet>
    </div>
  </ng-container>
  <ng-template #nonAuthenticated>
    <ion-router-outlet name="nonAuthenticated"></ion-router-outlet>
  </ng-template>
  <ion-progress-bar type="indeterminate" *ngIf="showProgressBar"></ion-progress-bar>
</ion-app>
